:root {
    /* Основной цвет текста */
    --primary-text-color: #555555;
    /* Дополнительный цвет текста */
    --text-color: #9DA4BD;
    /* Цвет всех заголовков */
    --title-text-color: #303030;
    /* Контрасный цвет фона */
    --bgc-color: #191C26;
    /* Акцент, выделения */
    --accent-color: #FF6C00;
    /* Базовый белый цвет */
    --basic-white: #FFFFFF;
    /* Прочее */

}

a {
    text-decoration: none;
}
svg {
    overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);
    background: var(--basic-white);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
    margin: 0;
}

h1,
h2,
h3,
ul,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container-header {
    display: flex;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.header {
    display: flex;
}

.sidebar {
    position: relative;
    width: 155px;
    height: 680px;
}
.logo {
    display: inline-block;
    margin-left: 55px;
    margin-top: 32px;

}
.wrapper-list {
    display: flex;
    gap: 40px;

    position: absolute;
    left: 50%;
    bottom: 40px;

    transform: rotate(-90deg);
    transform-origin: center left;
}
.wrapper-list::before {
    content: ' ';
    background-image: url(/image/rectangle4.svg);
    width: 60px;
    height: 1px;
    margin-top: 9px;
}
.wrapper-link {
    padding: 68px 0px;
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    transition: color 250ms linear;
}
.wrapper-link:hover,
.wrapper-link:focus {
    color: var(--accent-color);
}

.header-img {
    background-image: url(/image/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
    width: 1125px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-top: 52px;
}
.nav-link {
    color: var(--basic-white);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-style: normal;

    transition: color 250ms linear;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 322px;
    margin-top: 52px;
}
.btn {
    width: 160px;
    height: 40px;

    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--basic-white);

    cursor: pointer;
}
.header-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);

    margin-left: 180px;
    margin-top: 204px;
}
.header-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;

    margin-left: 100px;
    margin-top: 20px;
}
.header-text {
    width: 470px;
    height: 62px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    
    color: #9DA4BD;
    
    margin-left: 100px;
    margin-top: 20px;
}
/* .header-subtitle::before {
    content: ' ';
    background-image: url(/image/rectangle5.svg);
    width: 1px;
    height: 60px;
    margin-top: 4px;
} */